
<section class="section-block">
  <h1>Contact Me</h1>

  <p>
   If you'd like to discuss any project, have ideas of your own you'd like to share 
   or just want to have a chat, don't hesitate to reach out!
  </p>

  <div class="row justify-content-center mt-4">

    <!-- GitHub -->
    <div class="col-md-6 text-center mb-3">
      <i class="bi bi-github" style="font-size: 1.5rem;"></i>
      <p>
        <a href="https://github.com/simaomenesesjoao/" target="_blank">github.com/simaomenesesjoao</a>
      </p>
    </div>

    <!-- LinkedIn -->
    <div class="col-md-6 text-center mb-3">
      <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
      <p>
        <a href="https://www.linkedin.com/in/simao-joao" target="_blank">in/simao-joao</a>
      </p>
    </div>
  </div>
</section>