<section class="section-block">
<h1> About me </h1>

<p> I'm <strong>Simão Meneses João</strong> — a Portuguese Physicist and Software Engineer currently living in
 London. I love exploring how the world works, especially through the lens of Physics and Mathematics, 
 and I built this website to share my interactive simulations and quirky discoveries with fellow curious minds. </p>

 <p> I have a <strong>PhD in Quantum Mechanics and Computational Physics</strong>, having spent many 
    years studying how very tiny particles
 move when you give them funny materials to move around in. I'm also unnofficially certified in
  <strong>advanced seagull screeching</strong>, 
 a skill that hilariously brought me much more media recognition than my research ever did.</p>

 <p> I enjoy playing Tom Lehrer songs on the piano and studying Russian. I even got a
     Russian girlfriend to make it cheaper. I would
 never let you forget that I'm from Portugal,
  that Pastel de Nata is the best food in existence and that chickens 
 make the best pets.</p>
</section>

<section class="section-block">
 <h1>My background</h1>
 <p>I was born in the 90s in the sunny Portuguese island of Madeira. While growing up, 
    I was always surrounded by birds and music - be it 
 from my dad blasting Beatles songs from his vynil record player, or from listening to my sister Carolina who is an
 avid and talented singer. My mother was never a musical person, but her curiosity for understanding the
 world imprinted on me. Her devotion to Nature brought in innumerable birds to our house, whose songs added to 
 the musical environment. I myself studied music in the Madeira Conservatory for 15 years, having had the opportunity to 
 learn several different instruments like the Piano, Saxophone, Percussion and Cello. But what really caught my attention was 
 Music Theory. Understanding musical structure and how it connects everything together felt very mathematical - it was
 like doing calculations with my ears instead of my mind. By the time that I was finishing my highschool and musical education, 
 I already knew I really enjoyed building things and understanding how they work. At that time (possibly influenced by a 
 game called SimCity), I wanted to become an Architect.

 <br><br>

 Everything changed when I enrolled in the 2011 Portuguese Physics Olympiads and won first place. After that, 
 I started attending monthly meetings in a specialized school in Coimbra (Projecto Quark!) in preparation
 for the International Physics Olympiads. I got to learn Physics, Programming and Mathematics beyond the
 standard school curriculum and started to fall in love with those subjects. That's when I decided to pursue a 
 career in research and moved to Porto in mainland Portugal to study Physics. I ended also falling in love with
 this city (and its alarming amount of seagulls) and stayed there for
 the next 10 years, as I did a Masters in Theoretical Physics and finally a PhD in Computational Physics.

 <br><br>

In 2022, I moved to the United Kingdom to do research in Imperial College London. This is when I met Ava, who shares the 
same love for Mathematics and Computer Science as I do, and who managed to cultivate in me an appreciation 
for Data Structures and Algorithms (and cats). London is the perfect place for creativity and individuality, given the 
abundance of unique shows and events happening all the time everywhere. People here are not afraid to be 
silly and to have a good laugh. Together with my appreciation for birds, this inspired me to travel to Belgium 
in 2024 to participate in the European Seagull Screeching competition. There, the musical skills that I
acquired during childhood combined with my seagull survival skills acquired from Porto culminated in winning first place, 
setting off a barrage of media attention. Now everyone and their dog knew about me. My legacy would lie not in
my scientific discoveries, but in my seagull immitation skills.

<br><br>

London also marks the end of my academic journey. After two amazing years in Imperial surrounded by some 
of the kindest and most talented people that I know, I decided to pursue a career in Software Engineering
while focusing my research efforts into the projects that I personally want to explore. 
Moving to the UK marked the beginning of my own story, where I 
felt truly responsible for my own path. This is also when I started devoting more time to exploring 
my own projects and pursuing my interests. I felt free to let my mind wander wherever it wanted and to give
myself time and space to explore the things I wanted. These are topics that truly excite me, and it's this 
enthusiasm that led me to create this website - a place where I can show nice animations, cool explanations 
and even cooler interactive demonstrations about the things that I love. I hope readers will find them as 
fun as I did.
</section>
