<section class="section-block">
<h1> About me </h1>

<p> I'm <strong>Simão Meneses João</strong> — a Portuguese Physicist and Software Engineer currently living in
 London. I love exploring how the world works, especially through the lens of Physics and Mathematics, 
 and I built this website to share my interactive simulations and quirky discoveries with fellow curious minds. </p>

 <p> I have a <strong>PhD in Quantum Mechanics and Computational Physics</strong>, having spent many 
    years studying how very tiny particles
 move when you give them funny materials to move around in. I'm also unnofficially certified in
  <strong>advanced seagull screeching</strong>, 
 a skill that hilariously brought me much more media recognition than my research ever did.</p>

 <p> I enjoy playing Tom Lehrer songs on the piano and studying Russian. I even got a
     Russian girlfriend to make it cheaper. I would
 never let you forget that I'm from Portugal,
  that Pastel de Nata is the best food in existence and that chickens 
 make the best pets.</p>
</section>

<section class="section-block">
 <h1>My background</h1>
 <p>In the sunlit 1990s, on the lush island of Madeira, I was born into a world of rhythm and song. My days were filled with the chatter of birds and the hum of melodies. Beatles songs booming from my father's beloved vinyls, and my sister Carolina's voice echoing through the house with the ease of someone who had been singing since she was born. My mother, though not a musician, was a scholar of the natural world. With quiet devotion, she lured a parade of birds into our home's orbit, turning the air into a living orchestra. From her, I inherited not notes, but curiosity, a yearning to understand the patterns behind things, the “why” behind the "what".

   <br><br>
From a young age, I studied at the Madeira Conservatory, immersing myself in music for 12 years. I learned to play several instruments, but what fascinated me most was Music Theory, the hidden architecture of sound: logic wrapped in melody, numbers disguised as notes. To me, it felt like doing math with my ears.
<br><br>
As I neared the end of high school and my musical training, I knew I enjoyed building things, deconstructing how they worked. Perhaps influenced by countless hours playing SimCity, I imagined becoming an architect, crafting structures from imagination. Then, everything changed when I entered the 2011 Portuguese Physics Olympiads and won!
<br><br>
Suddenly, I was invited to Coimbra to join Projecto Quark!, a program that prepared students for the International Physics Olympiads in Estonia. At Quark!, Programming, Mathematics, and Physics no longer felt like separate subjects. They became playgrounds for ideas, each feeding into the other. After returning from Estonia, something had shifted. I found myself at a crossroads: would I stay in Madeira to study architecture, surrounded by family and familiarity? Or would I follow this newly sparked passion for Physics into unknown territory?
<br><br>
Driven by curiosity and encouraged by my family (who probably just wanted to get rid of me), I left the island life behind and moved to Porto to begin a new chapter, where I fully embraced the academic life. Over the next decade I forged my path: a Master's in Theoretical Physics and a PhD in Computational Physics under a very nosy but savvy mentor. Porto also taught me how to survive its vicious seagulls, befriend them, be one with them.
<br><br>
In 2022, I crossed the sea to begin postdoctoral research at Imperial College London. It was in London that I met Ava. Brilliant, curious, and cat-loving, she shared my passion for Mathematics and Computer Science. Through her, I developed a newfound appreciation for Data Structures and Algorithms.
<br><br>
London, with its wild creativity and unapologetic silliness, welcomed me with open arms. Inspired by its eccentric energy (and fuelled by my avian fascination) I travelled to Belgium in 2024 to compete in the European Seagull Screeching Competition. Years of musical training and survival instincts honed in Porto's seagull-filled skies collided in a perfect storm. I won first place. The crowd erupted. News spread. Everyone and their dog suddenly knew about me. Not for my scientific legacy but for my seagull mimicry skills. 
<br><br>
After the excitement died out, insecurity started taking over. What would my peers think? Was I just going to be "that seagull guy" from now on? Did I even screech that well? As I embraced absurdity, this competition turned out to be a moment of self-discovery. I don't need to be defined by academic prestige. It's fine to be silly. It's fine to be myself without relying on institutional authority for validation. People can be interested in me for who I am. Most will not, but it's the ones who will that matter.
<br><br>
Freed from the shackles of insecurity, I decided to invest in the things that mattered to me. A few months later I bid my colleagues farewell as I left the institutional research of Academia for new adventures. I was going back home. Not to Madeira, but to the essence of what first inspired me: exploration, play, and making sense of the world. I embraced Software Engineering not just as a career, but as a vehicle for  creativity, independent research and honing my programming skills.
<br><br>
Now, I invite you, dear reader, into my world. Here you'll find explanations that tickle the brain, visuals that make formulas dance, and the unspoken promise that curiosity is like a bag of crisps to a seagull—irresistible and always worth chasing.
</section>
