<!-- <nav class="overbar">

  <div></div>

  <div class="center-group">

    <a
      [routerLink]="prev()"
      class="nav-arrow"
      [class.hidden]="!prev().length"
    >
      ←
    </a>

    <span class="center-title">
      <h1>{{ title() }}</h1>
    </span>

    <a
      [routerLink]="next()"
      class="nav-arrow"
      [class.hidden]="!next().length"
    >
      →
    </a>

  </div>


<div class="right-group">
</div>
</nav> -->

<div class="menu-btn" (click)="toggleMenu()">☰</div>

<!-- Overlay -->
<div class="overlay" *ngIf="isOpen" (click)="toggleMenu()"></div>

<!-- Sidebar -->
<div class="sidebar" [class.open]="isOpen">

  <h2>Navigation</h2>

  <div class="accordion-header">
    <span class="accordion-arrow placeholder"></span>
    <a routerLink="/Home" (click)="onPress()" routerLinkActive="active-link">Home</a>
  </div>

  <div class="accordion-header">
    <span class="accordion-arrow placeholder"></span>
    <a routerLink="/About" (click)="onPress()" routerLinkActive="active-link">About</a>
  </div>

  <!-- ProjectsList Accordion -->
  <div class="accordion">

    <div class="accordion-header">

        <span class="accordion-arrow"
            (click)="toggleMain('projects'); $event.stopPropagation()"
            [class.open]="activeMain === 'projects'">
            ▶
        </span>

        <a class="accordion-link" 
            routerLink="/Projects"
            (click)="onPress()" 
            routerLinkActive="active-link">
            Projects
        </a>

    </div>

    <div class="accordion-content" *ngIf="activeMain === 'projects'">

      <!-- Project Sub-Accordion -->
      <div *ngFor="let project of (projects | keyvalue)">

        <div class="accordion-header">

            <!-- Arrow (expands only) -->
            <span class="accordion-arrow"
                (click)="toggleProject(project.key); $event.stopPropagation()"
                [class.open]="activeProject === project.key">
                ▶
            </span>

            <!-- Main clickable title (navigates) -->
            <a class="accordion-link" 
                [routerLink]="['/Projects', project.value.url]"
                (click)="onPress()" 
                routerLinkActive="active-link">
                {{ project.key }}
            </a>

        </div>

        <div class="accordion-content nested" *ngIf="activeProject === project.key">

            <a *ngFor="let page of project.value.pages"
                [routerLink]="['/Projects', project.value.url, page.url]"
                (click)="onPress()" 
                routerLinkActive="active-link">
                {{ page.title }}
            </a>

        </div>
      </div>
    </div>
  </div>


  <div class="accordion-header">
    <span class="accordion-arrow placeholder"></span>
    <a routerLink="/Contact" (click)="onPress()" routerLinkActive="active-link">Contact</a>
  </div>
  
</div>
