.overbar {
  position: sticky;
  top: 0;

  height: 64px;
  padding: 0 24px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  background: var(--accent-header);
  border-bottom: 1px solid #e5e7eb;
  
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

  font-family: system-ui, sans-serif;
  z-index: 1000;
}

.center-group {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-self: center;
}

.right-group {
  justify-self: end;
}

.center-title {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

/* Fixed arrow size */
.nav-arrow {
  text-decoration: none;
  font-size: 1.9rem;
  padding: 6px 10px;
  border-radius: 8px;
  color: var(--bg-color);
  transition: background 0.2s ease;
}

.nav-arrow:hover {
  background: #324f88;
}

/* Hide visually but keep space */
.hidden {
  visibility: hidden;
}


/* Hamburger */
.menu-btn {
  position: fixed;       /* always visible */
  top: 20px;
  right: 20px;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  cursor: pointer;

  background-color: #ffffff;  /* fully opaque */
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  z-index: 1000;        /* stays above everything */
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0.5,0.4);
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background: white;
  padding: 2rem;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 1002;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.sidebar a {

  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
  display: block;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  text-decoration: none;
  color: #444;
  transition: background 0.2s ease;
}

.sidebar a:hover {
  background: #f0f0f0;
}
.sidebar a.active-link {
  font-weight: 600;
  color: #000;
}


.accordion-title {
  cursor: pointer;
}

.accordion-title:hover {
  font-weight: 50;
}

.accordion-content {
  padding-left: 1rem;
}

.nested {
  padding-left: 1rem;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-link {
  text-decoration: none;
  color: black;
  flex: 1;
}
.accordion-arrow {
  opacity: 0.1;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.accordion-header:hover .accordion-arrow {
  opacity: 0.6;
}

.accordion-arrow.open {
  transform: rotate(90deg);
}