<section class="section-block">
    <h1> List of projects </h1>
    This is the complete list of ongoing and planned projects. It gets updated on a continuous basis as projects evolve.

  <div class="grid-container" >
    <div class="article-card" >
      <h3>Ostomachion</h3>
      <img src="assets/projects/Ostomachion/common/ostomachion_solution.gif" alt="Project Image" />
      <div class="card-overlay">
        <p>Why was Archimedes obsessed with bones? Discover the puzzle that took millenia to crack.

          <a href="/Ostomachion/chapter_1/1. Introduction">Read more →</a>
        </p>
      </div>
    </div>

    <div class="article-card" >
      <h3>Quantum Pong</h3>
      <img src="assets/smaller.gif" alt="Project Image" />
      <div class="card-overlay">
        <p>What would happen if you tried to play ping-pong with a quantum ball? 
  How would you hit the ball if it's in two places at the same time?

        <a>Coming soon</a></p>
      </div>
    </div>


    <div class="article-card" >
      <h3>Passive echolocation</h3>
      <img src="assets/echolocation.jpg" alt="Project Image" />
      <div class="card-overlay">
        <p>Could you tell how fast something is moving with nothing but your 
          ears? And what does Music Theory have to do with it? 
          <a>Coming soon</a></p>
      </div>
    </div>

  </div>

</section>


<section class="section-block">

<h1>How the projects are chosen</h1>
<p>As I go around my daily life, sometimes a random topic catches my attention and my 
 curiosity gets the best of me: I will not stop until I understand or solve the problem, 
 even if it takes me months or years. Here's a few examples:</p>

 <p>The first project featured on this website started when my girlfriend
 showed me a book (Alex's Adventures in Numberland) that she was reading, featuring 
 a puzzle posed by Archimedes. It was a very simple puzzle: try to move shapes around until you can
 make a square out of them - and try to find as many different ways to do it as possible. Suddenly I 
 wanted to find all the possible ways to do it. This became an obsession for the next months, as I 
 tried out different approaches to see which one would give me the answer the quickest.</p>

 <p>The idea for the second project (still to be featured here) came when I was thinking about this famous
    experiment where people are sitting inside a rotating merry-go-round and passing a ball around. 
From the participants' point of view, the ball seems to curve mid-air. So I wondered what it would be 
like to play ping-pong while everyhing is turning around. In a computer simulation, two players would control 
the paddles, and a third player would mess with them and control the table rotation speed. That was also
at around the same time I decided to learn about GPU programming and wanted to apply it to Quantum Mechanics.
This is how Quantum Pong was born. </p>

<p> As a last example, the idea for the (still to be finalized) Passive Echolocation project came to me when I was going
     along the Porto streets one day in 2015 and started wondering if I could tell how fast cars were going 
    just by listening to them. To my surprise, I found that the answer was yes and it was related to musical intervals in 
Music Theory. I became so intrigued by this that I immediately tried to find a formula for the cars'
positions from the sound they produce as they move. I failed. After 5 years, I felt I was more
knowledgeable and mature this time, but failed again. 
Finally in 2025 I managed to do it during a hackathon at my work and was told by a colleague
 that this phenomenon is actually called passive echolocation.</p>

<p> The only criterion for the choice of projects is that I got curious one day and got obsessed about it for a while. 
    For this reason, I don't know what the next projects will be, but they will surely be interesting. 
</p>
</section>
